DB_HOST=tardis-prod-cluster-database.cluster-ccagrtlwwujz.ap-northeast-2.rds.amazonaws.com
DB_NAME=seoul_ev_evcloud_new
DB_PORT=5432
DB_USER=evWhere
DB_PASSWORD=postgres
PORT=3000

# Google Sheets API 설정
# 메인 통합 지표용 스프레드시트 ID (dataset, 25.08 등)
GOOGLE_SPREADSHEET_ID=your_spreadsheet_id_here

GOOGLE_SERVICE_ACCOUNT_KEY_FILE=./config/service-account-key.json